/**
 * Generic ============================================================
 */
.page-content dl dt {}
.page-content dl dd,
.page-content dl dl {
  margin-left:0;
  margin-right:20px;
  }

/**
 * Pagers =============================================================
 */
.pager ul.pager-list { float:right; }
.pager ul.pager-links { float:left; }

/**
 * Menus, lists =======================================================
 */
.admin-list li a span.icon {
  left:auto;
  right:10px;
  }

.node-type-list li,
.admin-list li { padding:10px 50px 9px 5px; }

/**
 * Tables =============================================================
 */
table th { text-align:right; }
table td.permission { padding-right:19px; }

/**
 * Form layout: Default ===============================================
 */
.form-layout-default { background-position:35% 0%; }

.column-main { float:right; }

  .column-main .column-wrapper {
    padding-left:10px;
    padding-right:0px;
    }

.column-side { float:left; }

  .column-side .column-wrapper {
    padding-left:0px;
    padding-right:10px;
    }

/**
 * Forms ==============================================================
 */
.page-content .form-item .description {
  left:-15px;
  right:auto;
  }

.collapsible .fieldset-title span.icon {
  left:auto;
  right:-20px;
  background-image:url(images/sprite-rtl.png);
  }

html.js input.form-autocomplete { background-position: 2px 7px; }

/**
 * Help pages =========================================================
 */
.help-items { float:right; }

/**
 * Admin toolbar ======================================================
 */
body.convolution #admin-toolbar a.menu-hover span.menu-description {
  padding-left:0px;
  padding-right:50px;
  }

body.convolution #admin-toolbar a.menu-hover span.menu-description span.icon {
  left:auto;
  right:10px;
  }
