p:last-child { margin:0px; }

hr { display:none; }

/**
 * Toggleables ========================================================
 */
.toggleable { display:none; }

/**
 * Generic ============================================================
 */
.page-content dl dt {}
.page-content dl dd,
.page-content dl dl {
  margin-left:20px;
  margin-bottom:10px;
  }

/**
 * Console ============================================================
 */
div.messages {
  color:#036;
  background-color:#f8f8f8;
  border:1px solid #ccc;
  margin:0px 0px 10px;
  }

table tr.warning th,
div.warning {
  color:#a84;
  background-color:#fff4c0;
  }

table tr.error th,
div.error {
  color:#965;
  background-color:#ffe4e0;
  }

table tr.ok th,
table tr.info th,
div.status {
  color:#687;
  background-color:#ecf8f4;
  }

  div.error   { border-color:#ffd4d0; }
  div.warning { border-color:#ffe4b0; }
  div.status  { border-color:#dce8e4; }

/**
 * Pagers =============================================================
 */
.pager {
  font-weight:normal;
  font-size:11px;
  }

  .pager ul.pager-list { float:left; }
  .pager ul.pager-links { float:right; }

/**
 * Menus, lists =======================================================
 */
.admin-block-description,
.help-items ul li,
.confirmation ul li,
.item-list ul li,
.prose .item-list li,
.menu li {
  float:none;
  display:block;
  padding:5px 10px 4px;
  border-bottom:1px solid #f4f4f4;
  }

  .admin-block-description,
  .help-items ul li:last-child,
  .confirmation ul li:last-child,
  .item-list ul li:last-child,
  .prose .item-list li:last-child,
  .menu li:last-child {
    border-bottom:0px;
    padding-bottom:5px;
    }

.admin-panel h3 span.icon,
.admin-list li a span.icon {
  display: inline-block;
  }

  .admin-list-compact li a span.icon { top:5px; }

.admin-panel h3,
.node-type-list li,
.admin-list li {
  position:relative;
  padding:10px 5px 9px 50px;
  margin:0px;
  min-height:30px;
  border-bottom:1px solid #e8e8e8;
  }

  .admin-panel h3 {
    background:#f4f4f4;
    line-height:30px;
    }

  .admin-list-compact li { min-height:20px; }

  .node-type-list li:last-child,
  .admin-list li:last-child { border:0px; }

/**
 * Tables =============================================================
 */
.tabledrag-toggle-weight-wrapper {
  float:right;
  font-size:11px;
  margin-bottom:-30px;
  height:20px;
  padding:5px;
  }

.tabledrag-toggle-weight-wrapper a {
  display:block;
  width:20px;
  height:20px;
  text-indent:-999px;
  overflow:hidden;
  background:url(images/bleeds.png) -40px -120px no-repeat;
  }


table {
  width:100%;
  margin:0px 0px 10px;
  background-color:#fff;

  border-collapse:collapse;
  border-color:#ddd;
  border-width:1px;
  border-style:solid;
  }

  .fieldset table { margin:0px; }

table td,
table th {
  vertical-align:top;
  border-width:1px 0px;
  border-style:solid;
  border-color:#ddd;
  padding:5px;
  }

table th {
  font-size:11px;
  text-align:left;
  font-weight:normal;
  color:#666;
  background:#eee;
  }

  table thead th { border-top-color:#ccc; }

table td.active { background:#e4f0f8; }
table tr.odd td.active { background:#ecf8fc; }

table tr.selected td.active,
table tr.selected td {
  background:#ffc;
  border-color:#eeb;
  }

/* Block administration */
table tr.region td { background:#f8f8f8; }

/* Hide tabledrag markers */
table tr.draggable span.tabledrag-changed { display:none; }
 
/* Stripe administrative tables */
.page-admin table tr.even, .page-admin table tr.even td {
  background: #f9f9f9;
}
               
/**
 * Forms ==============================================================
 */
.block,
.item-list,
.help-items ul,
.form-item,
.confirmation ul,
.admin-list,
.node-type-list,
.admin-panel {
  background:#fff;
  margin:0px 0px 10px;

  border-width:1px;
  border-style:solid;
  border-color:#ddd;
  }

  .form-item {
    position:relative;
    padding:9px;
    }

  .admin-list { margin:0px; }

table .form-item,
table .item-list,
.block .form-item,
.block .item-list,
.admin-panel .item-list,
.admin-panel .admin-list,
.fieldset .form-item,
.fieldset .form-type-radio,
.fieldset .form-type-checkbox,
.form-item .form-item,
.form-item .form-type-radio,
.form.item .form-type-checkbox,
.form-checkboxes .form-type-checkbox,
.text-format-wrapper .fieldset .form-item {
    background:transparent;
    padding:0px;
    border:0px;
    }

  table .form-item,
  table .item-list,
  .block .item-list,
  .admin-panel .item-list,
  .admin-panel .admin-list,
  .fieldset .form-type-radio,
  .fieldset .form-type-checkbox,
  .form-item .form-type-radio,
  .form.item .form-type-checkbox,
  .form-checkboxes .form-type-checkbox { margin-bottom:0px; }

.text-format-wrapper .form-item {
  background:#fff;
  margin:0px 0px 10px;

  border-width:1px;
  border-style:solid;
  border-color:#ddd;
  padding: 9px;
  }

.form-item label {
  margin:0px;
  padding:0px;
  color:#666;
  font-weight:bold;
  font-size:10px;
  text-transform:uppercase;
  }

  .form-item label.option {
    text-transform:none;
    font-size:11px;
    }

  .form-item label.option input { vertical-align:middle; }

.page-content .password-description,
.page-content .password-strength,
.page-content .description,
.page-content .form-item .description {
  line-height:15px;
  font-size:11px;
  white-space:normal;
  }

  .admin-panel p.description {
    background:#eee;
    border-top:1px solid #ddd;
    border-bottom:1px solid #fff;
    line-height:20px;
    font-size:11px;
    padding:4px 9px;
    margin:0px;
    }

.fieldset .description { margin:0px 0px 10px; }

.page-content .form-item .description {
  position:absolute;
  bottom:100%;
  right:-15px;
  z-index:5;

  color:#687;
  background:url(images/popup.png) 50% 100% no-repeat;
  border-top:1px solid #d8e4e0;

  width:240px;
  margin:0px 0px -15px;
  padding:9px 10px 20px;
  display:none;
  }

  .page-content .form-item:hover {
    z-index:1;
    height:auto; /* Fix for flicker in IE7 */
    }

  .page-content .form-item:hover > .description { display:block; }

input.teaser-button,
input.form-submit {
  cursor:pointer;
  padding:2px 10px;
  color:#333;

  text-align:center;

  font-weight:normal;
  border-width:1px;
  border-style:solid;
  border-color:#ddd #ddd #ccc;
  background:#fff url(images/buttons.png) -1px 50% no-repeat;
  }

  input.form-submit:hover {
    border-color:#ace;
    -webkit-box-shadow:#ace 0px 0px 5px;
    }

  input.form-submit:active {
    border-color:#666 #666 #555;
    background:#666 url(images/buttons.png) -401px 50% no-repeat;
    color:#222;
    text-shadow:#999 0px 1px 0px;
    }

  input.button-yes {
    background-position:-2401px 50%;
    padding-left:25px;
    }

  input.button-yes:active { background-position:-2801px 50%; }

  input.button-no {
    background-position:-3201px 50%;
    padding-left:25px;
    }

  input.button-no:active { background-position:-3601px 50%; }

input.form-autocomplete,
input.form-text,
textarea.form-textarea,
select.form-select {
  padding:3px;
  border-width:1px;
  border-style:solid;
  border-color:#ccc;
  background:#fff;
  color:#666;
  max-width:100%;
  }

  input.form-autocomplete:hover,
  input.form-text:hover,
  textarea.form-textarea:hover,
  select.form-select:hover,
  input.form-autocomplete:focus,
  input.form-text:focus,
  textarea.form-textarea:focus,
  select.form-select:focus {
    color:#333;
    border-color:#ace;
    -webkit-box-shadow:#ace 0px 0px 5px;
    }

  input.fluid {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width:100%;
    }

    table input.fluid { width:auto; }

  html.js input.form-autocomplete { background-position:100% 7px; }
  html.js input.throbbing { background-position:100% -13px; }

/* Fieldsets */
.fieldset,
.fieldset-title,
.fieldset-title a,
.fieldset-content { display:block; }

.fieldset {
  margin:0px 0px 10px;
  display:block;
  position:relative;
  min-height:28px;
  border: 1px solid #CCCCCC;
  }
fieldset legend {
  display: block;
  float: left;
  width: 100%;
}
body.page-admin div.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane fieldset {
  padding:0;
}

.fieldset-legend {
  display:block;
  }

.container-inline .fieldset-legend .fieldset-content,
.fieldset.titled .fieldset-content {
  display:block;
  padding-top:40px;
  }

.item-list h3,
.block .block-title,
.fieldset-title,
.collapsible .fieldset-legend a {
  display:block;
  font-size:11px;
  margin:0px;
  padding:4px 9px 5px;
  color:#333;
  background:#f6f6f6;
  }

  .fieldset-legend,
  .collapsible .fieldset-legend a { padding-bottom:4px; }

  /* Explicit height for IE */
  .collapsible .fieldset-legend a { height:20px; }

  .collapsible .fieldset-legend span.icon {
    position:absolute;
    left:-20px;
    top:4px;
    background:url(images/bleeds.png) -20px -180px no-repeat;
    width:20px;
    height:20px;
    display:block;
    cursor:pointer;
    }

    html.js .collapsed .fieldset-legend span.icon { background-position:0px -180px; }

    .fieldset .collapsible .fieldset-legend span.icon { display:none; }

  .collapsed .fieldset-legend a {
    background:#eee;
    color:#484848;
    }

  .collapsed .fieldset-legend a:hover { color:#666; }

  .collapsible .fieldset-legend {
    padding:0px;
    background:transparent;
    }

  .collapsed .fieldset-legend a { padding-bottom:4px; }

.block .block-content,
.container-inline .fieldset-content,
.fieldset-content {
  padding:10px 9px 9px;
  background:#fff;
  }


  html.js .collapsed .fieldset-content { display:none; }

  .fieldset .fieldset .fieldset-content { background:#fff; }

/* Filter form */
.filter-wrapper {
  font-size:11px;
  margin-top:-10px;
  border-top:none; 
  }

.filter-wrapper .fieldset-content,
.fieldset .fieldset.filter-wrapper .fieldset-content  {
  background:#f8f8f8;
  border-top:0px;
  height:20px;
  padding:5px 9px 4px;
  }

.filter-wrapper .form-type-select { padding:0px; }
.filter-wrapper .form-type-select * {
  float:left;
  margin-right:5px;
  }

.filter-wrapper select {
  padding:0px;
  font-size:11px;
  }

.filter-wrapper .filter-help {
  float:right;
  font-size:11px;
  padding:0px;
  }

/**
 * Form layout: Default ===============================================
 */
.form-layout-default { background:url(images/vrule.png) 65% 0% repeat-y; }

.column-main {
  float:left;
  width:65%;
  }

  .column-main .column-wrapper { padding-right:10px; }

.column-side {
  float:right;
  width:34.99%;
  }

  .column-side .column-wrapper { padding-left:10px; }

.column-footer { clear:both; }

form .form-actions {
  background:#eee;
  border:1px solid #ddd;
  padding:9px;
  }

  form .form-actions.container-inline {
    background:transparent;
    border:0px;
    padding:0px;
    }

  form .form-actions input.form-submit { margin-right:5px; }

  .form-layout-default .column-main .form-actions { display:none; }
  .form-layout-default .column-side .form-actions { margin:0px 0px 10px; }
  .form-layout-default .column-side .form-actions input.form-submit { margin:1px 5px 1px 0px; }

/**
 * "Boxes" aka generic wrappers =======================================
 */
.box-title {
  font-weight:normal;
  font-size:10px;
  text-transform:uppercase;

  background:#eee;
  border:1px solid #ddd;
  padding:4px 9px;
  margin:0px 0px 10px;
  }

/**
 * System =============================================================
 */
.admin .right {
  padding-left:5px;
  float:right;
  }

.admin .left {
  padding-right:5px;
  float:left;
  }

.admin .right,
.admin .left {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  width:50%;
  margin:0px;
  }

/* admin/appearance */
.theme-selector {
  position:relative;
  padding:9px 9px 9px 139px;
  border:1px solid #ddd;
  margin:10px 0px;
  min-height:80px;
  text-shadow:#fff 0px 1px 0px;
  }

.theme-selector img {
  left:10px;
  top:10px;
  position:absolute;
  clip:rect(0px 120px 80px 0px); /* IE6, IE7 */
  clip:rect(0px,120px,80px,0px);
  }

.theme-selector .operations a { margin-right:20px; }

.system-themes-list-disabled .theme-selector {
  background:#eee;
  color:#676767;
  }

/* admin/content/node & admin/user/user */
.exposed-filters .form-item label {
  float:left;
  width:120px;
  }

.exposed-filters .additional-filters {
  padding:5px;
  font-size:11px;
  color:#666;
  }

/* update options */
.admin-options {
  background:#f8f8f8;
  line-height:30px;
  height:30px;
  padding:9px;
  border:1px solid #ddd;
  margin:0px 0px 10px;
  }

.admin-options label,
.admin-options .form-item {
  margin-right:10px;
  float:left;
  }

.admin-options .form-item {
  padding:0px;
  border:0px;
  }

/* dependency colors */
.admin-dependencies,
.admin-required { color: #666; }
.admin-disabled { color: #900; }
.admin-enabled { color: #099; }
.admin-missing { color: #c30; }

/* progressbar styles */
.progress .bar {
  -webkit-box-shadow:inset #ddd 0px 1px 3px;
  -moz-box-shadow:inset #ddd 0px 1px 3px;
  background:#eee;
  border:1px solid #ccc;
  }

.progress .filled { background:#666; }

/**
 * Help pages =========================================================
 */
.help-items { float:left; width:25%; }
.help-items ul { margin:10px 5px; }

/**
 * Admin toolbar ======================================================
 */
body.tao #admin-toolbar a.menu-hover span.menu-description { padding-left:50px; }

body.tao #admin-toolbar a.menu-hover span.menu-description span.icon {
  position:absolute;
  left:10px;
  top:0px;
  }

/**
 * Form description exceptions ========================================
 */

/**
 * Some form elements are either too weirdly positioned or really benefit
 * from persistent descriptions. Reset for all of these.
 */
.page-content .form-item-files-feeds,
.page-content .form-item-files-feeds .description,
.ctools-export-ui-row .form-item,
.ctools-export-ui-row .form-item .description,
.multiselect .form-item,
.multiselect .form-item .description,
.page-content table .form-item,
.page-content table .form-item .description,
.page-content .form-item .widget-edit .description,
#upload-attachments .description,
#views-ajax-pad .form-item,
#views-ajax-pad .form-item .description {
  width:auto;
  padding:0px;
  margin:0px;
  border:0px;
  background:transparent;
  position:static;
  display:block;
  }

.page-content .form-item-files-feeds:hover,
.ctools-export-ui-row .form-item:hover,
.multiselect .form-item:hover,
.page-content table .form-item:hover,
#views-ajax-pad .form-item:hover { position:static; }

.page-content .form-item-files-feeds .description,
.page-content table .form-item .description,
#upload-attachments .description,
#views-ajax-pad .form-item .description {
  padding:0px;
  color:#666;
  display:block;
  max-width:none;
  }

/**
 * Form containers ====================================================
 */
.container-inline div {
  display:inline;
  border:0px;
  padding:0px;
  background:transparent;
  }

.container-inline { margin:0px 0px 10px; }

/**
 * Vertical tabs=======================================================
 */
.vertical-tabs {
  background:#fff url(images/vtabs.png) 0px 0px repeat-y;
  border:1px solid #ddd;
  margin:0px 0px 10px;
  position:relative;
  }

.vertical-tabs .fieldset-content,
.vertical-tabs fieldset.titled .fieldset-content {
  border:0px;
  padding:10px;
  }
.vertical-tabs .fieldset-content .fieldset-content {
  margin-top: 20px;
}

.vertical-tabs-list li a {
  display:block;
  text-shadow:#fff 0px 1px 0px;
  padding:5px 10px 4px 10px;
  border-bottom:1px solid #ddd;
  color:#666;
  }

.vertical-tabs-list .selected a {
  background:#fff;
  color:#333;
  }

.vertical-tabs-list .summary { font-size:11px; }

/**
 * Action links =======================================================
 */
.action-links a {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;

  margin:0px 5px 0px 0px;
  padding:0px 5px 0px 25px;
  background:#999 url(images/buttons.png) -800px 50% no-repeat;
  color:#fff;
  text-shadow:#666 0px 1px 0px;
  }

  .action-links a:active {
    color:#222;
    background-color:#666;
    background-position:-1200px 50%;
    text-shadow:#999 0px 1px 0px;
    }

/**
 * ORPHANED MARKUP ====================================================
 * The following selectors target markup generated by Drupal that have
 * exactly 1 or extremely few instances. It will make a great future
 * hitlist of markup to consolidate and generalize.
 */
.compact-link {
  font-size:11px;
  height:20px;
  margin:0px 0px 10px;
  }

.compact-link a {
  float:left;
  line-height:18px;
  padding:0px 9px;
  border:1px solid #ddd;
  color:#666;
  background:#fff;
  }
