/**
 * Icons
 */
.help-content span.icon,
.page-title span.icon,
.admin-toolbar-menu span.icon,
.menu span.icon,
.admin-panel span.icon,
.admin-list span.icon,
.links span.icon {
  width:30px;
  height:30px;
  display:block;

  background-color:transparent;
  background-image:url(images/icons.png);
  background-repeat:no-repeat;
  }

/**
 * Create content
 */
.path-node-add span.icon                        { background: url(img/coquette/add.png); }
.path-node-add-page span.icon                   { background: url(img/coquette/new_page.png); }
.path-node-add-forum span.icon                  { background-position:-60px -240px; }
.path-node-add-blog span.icon                   { background-position:-90px -240px; }
.path-node-add-story span.icon                  { background-position:-120px -240px; }
.path-node-add-poll span.icon                   { background: url(img/coquette/poll.png); }

/**
 * Admin
 */
.path-admin span.icon                           { background: url(img/coquette/speedometer.png); }
.path-admin- span.icon                          { background: url(img/coquette/speedometer.png); }

/**
 * Appearance
 */
.path-admin-appearance- span.icon               { background: url(img/coquette/palette_brush.png); }

/**
 * Modules
 */
.path-admin-modules- span.icon                  { background: url(img/coquette/puzzle.png); }

/**
 * Help
 */
.path-admin-help span.icon                      { background: url(img/coquette/help_balloon.png);}

/**
 * Content
 */
.path-admin-content span.icon                   { background: url(img/coquette/pages.png); }
.path-admin-content- span.icon                  { background: url(img/coquette/pages.png); }
.path-admin-content-forum span.icon             { background: url(img/coquette/users_comments.png); }
.path-admin-content-book span.icon              { background: url(img/coquette/book.png); }
.path-admin-content-comment span.icon           { background: url(img/coquette/comments.png); }

/**
 * Building
 */
.path-admin-structure span.icon                 { background: url(img/coquette/toolbox.png); }
.path-admin-structure- span.icon                { background: url(img/coquette/toolbox.png); }
.path-admin-structure-menu span.icon            { background: url(img/coquette/database.png); }
.path-admin-structure-contact span.icon         { background: url(img/coquette/add_comment.png); }
.path-admin-structure-block span.icon           { background: url(img/coquette/note_book.png); }
.path-admin-structure-types span.icon           { background: url(img/coquette/office_folders.png); }
.path-admin-structure-taxonomy span.icon        { background: url(img/coquette/tag_green.png); }
.path-admin-structure-trigger span.icon         { background: url(img/coquette/wifi.png); }

/**
 * User
 */
.path-admin-people span.icon                    { background: url(img/coquette/users.png); }
.path-admin-people- span.icon                   { background: url(img/coquette/users.png); }
.path-admin-people-permissions span.icon        { background: url(img/coquette/male_user_warning.png); }
.path-admin-people-permissions-roles span.icon  { background: url(img/coquette/male_user_warning.png); }

/**
 * Reports
 */
.path-admin-reports span.icon                   {background: url(img/coquette/report.png);}
.path-admin-reports- span.icon                  {background: url(img/coquette/report.png);}
.path-admin-reports-dblog span.icon             {background: url(img/coquette/toolbox.png);}
.path-admin-reports-hits span.icon              {background: url(img/coquette/chart.png);}
.path-admin-reports-search span.icon            {background: url(img/coquette/toolbox.png);}
.path-admin-reports-access-denied span.icon     {background: url(img/coquette/block.png);}
.path-admin-reports-page-not-found span.icon    {background: url(img/coquette/delete_page.png);}
.path-admin-reports-referrers span.icon         {background: url(img/coquette/users.png);}
.path-admin-reports-pages span.icon             {background: url(img/coquette/pages.png);}
.path-admin-reports-visitors span.icon          {background: url(img/coquette/female_male_users.png);}
.path-admin-reports-settings span.icon          {background: url(img/coquette/process_info.png);}
.path-admin-reports-updates span.icon           {background: url(img/coquette/chart_up.png);}
.path-admin-reports-status span.icon            {background: url(img/coquette/info.png);}

/**
 * Configuration
 */
.path-admin-config span.icon                    { background: url(img/coquette/workflow.png); }
.path-admin-config- span.icon                   { background: url(img/coquette/workflow.png); }
.path-admin-config-people- span.icon            { background: url(img/coquette/user_accept.png); }
.path-admin-config-people-accounts span.icon    { background: url(img/coquette/users.png); }
.path-admin-config-people-ip-blocking span.icon { background: url(img/coquette/block.png); }

.path-admin-config-content- span.icon           { background: url(img/coquette/full_page.png); }
.path-admin-config-content-formats span.icon    { background: url(img/coquette/page_process.png); }

.path-admin-config-regional- span.icon          { background: url(img/coquette/globe_process.png); }
.path-admin-config-regional-settings span.icon  { background: url(img/coquette/globe_process.png); }
.path-admin-config-regional-date-time span.icon { background: url(img/coquette/globe_process.png); }
.path-admin-config-regional-language span.icon  { background: url(img/coquette/globe_process.png); }
.path-admin-config-regional-translate span.icon { background: url(img/coquette/globe_process.png); }

.path-admin-config-system- span.icon            { background: url(img/coquette/workflow.png); }
.path-admin-config-system-site-information span.icon { background: url(img/coquette/info.png); }
.path-admin-config-system-actions span.icon     { background: url(img/coquette/travel_directions.png); }
.path-admin-config-system-statistics span.icon  { background: url(img/coquette/chart_pie.png); }
.path-admin-config-system-cron span.icon        { background: url(img/coquette/old_clock.png); }

.path-admin-config-search- span.icon            { background-position:-180px -180px; }
.path-admin-config-search-path span.icon        { background-position:-120px -90px; }
.path-admin-config-search-clean-urls span.icon  { background-position:-60px -360px; }
.path-admin-config-search-settings span.icon    { background-position:-30px -60px; }

.path-admin-config-services- span.icon          { background-position:0px -210px; }
.path-admin-config-services-rss-publishing span.icon { background-position:-180px -330px; }
.path-admin-config-services-aggregator span.icon { background-position:-120px -120px; }

.path-admin-config-user-interface- span.icon    { background-position:-90px -180px; }
.path-admin-config-user-interface-shortcut span.icon { background-position:-180px -120px; }

.path-admin-config-media- span.icon             { background-position:-150px -180px; }
.path-admin-config-media-file-system span.icon  { background-position:-180px -360px; }
.path-admin-config-media-image-styles span.icon { background-position:0px -390px; }
.path-admin-config-media-image-toolkit span.icon { background-position:-210px -330px; }

.path-admin-config-development- span.icon       { background-position:-120px -180px; }
.path-admin-config-development-performance span.icon { background-position:0px -60px; }
.path-admin-config-development-maintenance span.icon { background-position:-180px -90px; }
.path-admin-config-development-logging span.icon{ background-position:-120px -60px; }

.path-admin-config-workflow- span.icon          { background-position:-30px -210px; }

/* Contrib, @TODO */
.path-admin-config-development-devel span.icon  { background-position:-30px -330px; }

/* Deprecated, @TODO */
.path-admin-settings-wysiwyg span.icon,
.path-admin-settings-fckeditor span.icon,
.path-admin-settings-tinymce span.icon          { background-position:-150px -330px; }
.path-admin-settings-uploads span.icon          { background-position:-210px -360px; }
.path-admin-settings-error-reporting span.icon  { background-position:-90px -360px; }
.path-admin-settings-blogapi span.icon          { background-position:-30px -360px; }
.path-admin-settings-throttle span.icon         { background-position:-150px -90px; }
